html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%
  }
  body {
    margin: 0;
  }
      
  main {
    display: block;
  }
    
  h1, h2, h3 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
    
  pre {
    font-family: monospace, monospace;  
    font-size: 1em; 
  }
  a {
    background-color: transparent;
  }
    
  abbr[title] {
    border-bottom: none; 
    text-decoration: underline; 
    text-decoration: underline dotted;
  }  
      
  b,  strong {
    font-weight: bolder;
  }
  code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
  
small {
  font-size: 80%;
}
  
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
  
sub {
  bottom: -0.25em;
}
  
sup {
  top: -0.5em;
}
img {
    border-style: none;
  }
    
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    /* line-height: 1.15; 1 */
    margin: 0; /* 2 */
  }
    
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
    
  button,
  input { /* 1 */
    overflow: visible;
  }
    
  /**
   * Remove the inheritance of text tra
   * 1. Remove the inheritance of text 
   */
    
  button,
  select { /* 1 */
    text-transform: none;
  }
    
  /**
   * Correct the inability to style cli
   */
    
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
    
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
    
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
    
  /**
   * Correct the padding in Firefox.
   */
    
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
    
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
    
  /**
   * Add the correct vertical alignment
   */
    
  progress {
    vertical-align: baseline;
  }
    
  textarea {
    overflow: auto;
  }
    
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; 
    padding: 0; 
  }
    
  [type="number"]::-webkit-inner-spin-b
  [type="number"]::-webkit-outer-spin-b  {
    height: auto;
  }
    
  [type="search"] {
    -webkit-appearance: textfield; /* 1
    outline-offset: -2px; /* 2 */
  }
       
  [type="search"]::-webkit-search-decor {
    -webkit-appearance: none;
  }
    
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
       
  details {
    display: block;
  }
    
  /*
   * Add the correct display in all bro
   */
    
  summary {
    display: list-item;
  }
    
  template {
    display: none;
  }
    
  [hidden] {
    display: none;
  }

  /*----------------------------------------------------------------------------------------------*/

:root {
    --basic: #E3B873;
}

body {
    max-width: 1440px;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}

body * {
    box-sizing: border-box;
}


.container {
    max-width: 1256px;
    margin:0 auto;
}

.title {   
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: var(--basic);
}

.subtitle {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.completed {
    background-color: #000;
}

.completed-content {
  padding-top: 107px;
  padding-right: 43px;
  padding-bottom: 123.7px;
  padding-left: 42px;
}

.navigation {
  list-style: none;
  display: flex;
}

.completed-navigation {
  margin-top: 0;
  padding-left: 0;
  margin-right: 56px;
  margin-left: 494px;
  margin-bottom: 45.36px;
  width: 623px;
}

.completed-navigation__item {
    margin-left: 60.5px;
    height: 24px;
}

.completed-navigation__item:first-child {
    margin-left: 0;
}

.completed-navigation__item {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    cursor: pointer;
}

.completed-navigation__item.active {
    color: var(--basic);
    border-bottom:1px var(--basic) solid;
}

.completed__main-block { 
    display: flex;
    justify-content: space-between;
} 

.completed__text {
    display: flex;
    flex-direction: column;
}

.completed__text__descr__title {    
    width: 253px;
    letter-spacing: -0.07em;
    margin-top: 0;
    margin-bottom: 23px;
}

.completed__text__descr_p {
    font-size: 14px;
    line-height: 27px;
    width: 442px;
    text-align: left;
    margin-bottom:48px;
}

.completed-flex-container {
    display: flex;
    max-width: 403px;
    height: 73px;
}

.row1 {
    margin-bottom: 34px;
}

.row2 {
    margin-bottom: 44px;
}

.completed-flex-item {
    margin-right: 29px;
}

.column1 {
    width: 185px;
}

.column2 {
    width: 213px;
}

.completed-flex-item h3 {
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: var(--basic);
    margin-top: 0;
    margin-bottom: 9px;
    text-align: left;
}

.completed-flex-item div {
    font-size: 13px;
    line-height: 21px;
    width: 100px;
}

.completed__text__arrows {
    padding-top: 8px;
    display: inline-block;
    width: 210px;
}

.arrow {
  cursor: pointer;
}

.arrow-left {
    margin-right: 23.5px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    cursor: pointer;
}

.completed__text__arrows > .active {
    background-color: #fff;
}

.dot-center {
 margin-right: 12px;
 margin-left: 12px;
}

.arrow-right {
    margin-left: 23.5px;
    cursor: pointer;
}

.completed__text__arrow .active {
    background-color: white;
    border-radius:50%;
}

.slider__images .image{
  display: none;
}

.slider__images .image.active {
  display: block;
}
